.movie-list-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-left: 1%;
}

.movie-list-element {
    cursor: pointer;
    flex: 0 1 27%;
    margin: 3%;
}