.app-header{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    padding: 1em 5%;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background-color: #222020;
    color: #ce5d6e;
}
.header-name{
    flex: 0 1 85%;
    min-height: 3em;
    font-weight: bold;
}