.app-footer{
    width: 100%;
    height: 1em;
    padding: 1em 2em;
    background-color: #383333;
    color: #ce5d6e;
    position: fixed;
    bottom: 0;
    font-size: 100%;
    font-weight: bold;
}